Resources:

files:
  /etc/nginx/conf.d/ssl.conf:
    mode: "000755"
    owner: root
    group: root
    content: |
      # HTTPS Server

      server {
        listen 443;
        server_name localhost;

        ssl on;
        ssl_certificate /etc/pki/tls/certs/server.crt;
        ssl_certificate_key /etc/pki/tls/certs/server.key;

        ssl_session_timeout 5m;

        ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
        ssl_ciphers "EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH";
        ssl_prefer_server_ciphers on;

        location / {
          proxy_pass http://docker;
          proxy_http_version 1.1;

          proxy_set_header Connection "";
          proxy_set_header Host $host;
          proxy_set_header X-Real-IP $remote_addr;
          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        }
      
       # HTTP Server
       server {
          listen 8080;
          return 301 https://$host$request_uri;
       }

      }

  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIICyTCCAjICCQCy/L+6GmqblzANBgkqhkiG9w0BAQUFADCBqDELMAkGA1UEBhMC
      VVMxEzARBgNVBAgTCkNhbGlmb3JuaWExEjAQBgNVBAcTCVN1bm55dmFsZTEOMAwG
      A1UEChMFU09MaUQxFDASBgNVBAsTC0RldmVsb3BtZW50MSgwJgYDVQQDEx9kYXN0
      cmF4LXFhLmVsYXN0aWNiZWFuc3RhbGsuY29tMSAwHgYJKoZIhvcNAQkBFhFzdXBw
      b3J0QHNvbGlkLmNvbTAeFw0xNTA3MDgwODA3NDRaFw0xNjA3MDcwODA3NDRaMIGo
      MQswCQYDVQQGEwJVUzETMBEGA1UECBMKQ2FsaWZvcm5pYTESMBAGA1UEBxMJU3Vu
      bnl2YWxlMQ4wDAYDVQQKEwVTT0xpRDEUMBIGA1UECxMLRGV2ZWxvcG1lbnQxKDAm
      BgNVBAMTH2Rhc3RyYXgtcWEuZWxhc3RpY2JlYW5zdGFsay5jb20xIDAeBgkqhkiG
      9w0BCQEWEXN1cHBvcnRAc29saWQuY29tMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCB
      iQKBgQDGhumy4G8gMWHJKpooWvnMRgETCjzdiUR9CNK2yzOGPz700qIrs7Xg42cT
      QoMu+uJV66Ug8Sm3o10pKTn7h+7PEEjbus43G3pLvtX5jhVT/WhhGxHnN8jcyuPe
      nxFokEQzLKewOGgdY3lcqcg4sBRdCPfDZJTlfMoNg+FbZFYAjwIDAQABMA0GCSqG
      SIb3DQEBBQUAA4GBAK/qFqkBpQ/dTMTb+XvAvtGCrlPcj2+XUNUuqjbV1Lg96Lzw
      nYDH8Cm551GCCFHZaksSZOvHegAkUV9e+t3jNXDpu7D4WpgAUcSrBBBlniCDFHZk
      pASprizGyWaJ7UVEKK8EfWvlFepf/uoVdxmb30dmAjP710HHkPw6uqXnOqXB
      -----END CERTIFICATE-----

  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIICWwIBAAKBgQDGhumy4G8gMWHJKpooWvnMRgETCjzdiUR9CNK2yzOGPz700qIr
      s7Xg42cTQoMu+uJV66Ug8Sm3o10pKTn7h+7PEEjbus43G3pLvtX5jhVT/WhhGxHn
      N8jcyuPenxFokEQzLKewOGgdY3lcqcg4sBRdCPfDZJTlfMoNg+FbZFYAjwIDAQAB
      AoGAZiVUaS0BAFdoMNEysEDe9jOuqdVCq9nM22iGwnaa9B/mjKEzv7ifhC59AnPe
      e3Wqrvqn4+Mxy8LKVDtaEglG3WoBlDMnDaV+SfRX39qpDIDqsgHaMmVSz8jFz4IK
      UG1WScAvwauyqpuMEDAId2/U7N/SiYh2c6HADS9Hr7vUM8ECQQD6mkPYi0Yl5iLI
      csoQUJPPJnw3F25xEGGnVXWhq1ISOEoaj90KfxYlRIOMVzUxJw+eKNRA1WhGxIj5
      IrzB5PLlAkEAys2Fce/ZXAJ1tkwyFWsM/wLjpCybZiwkr2M5nge/N9iYjAnXdx/T
      FbS6iLIBL4M4+VvkECFsoPLhSkRtaYCqYwJAHSQ1QYgolx2k69RVZQJJvewGw81I
      vYMfJ/tLG4q1l4LOMzqJhL/0jk7iUT6O4/Fb4pNy4zstzhTqrLX6Zz29dQJAWLvy
      Dnc2cJa28GuIYmyzhAS8m8HUwLDB4GeW9zlGhmXj4SoRN5MaJd4s29Ceyi4tSJXX
      ROOLByUeRAOKp+XfJwJAEJ/pAd3ORt7k5xwu5DMVljWf9thyuI+yFH2tAkNP1ixQ
      e27Ym3xBwABuvi4yOEOd002Trb2r3FMwcxoAYpSo2w==
      -----END RSA PRIVATE KEY-----
