<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Production</param-value>
    </context-param>
    <!-- START | PRIMEFACES -->
    <context-param>
        <param-name>primefaces.THEME</param-name>
        <param-value>afterwork</param-value>
    </context-param>
    <!-- END | PRIMEFACES -->
    <!-- START | CAPTCHA -->
    <context-param>
        <param-name>primefaces.PRIVATE_CAPTCHA_KEY</param-name>
        <param-value>6LcndugSAAAAAN9kEUYk-NDjcHRxrJEgKNIXBDSR</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.PUBLIC_CAPTCHA_KEY</param-name>
        <param-value>6LcndugSAAAAAGkai0kWhTdOv_Tl_qcmX1fEVexj</param-value>
    </context-param>
    <!-- START | CAPTCHA -->
    <!-- START | SHIRO -->
    <listener>
        <listener-class>org.apache.shiro.web.env.EnvironmentLoaderListener</listener-class>
    </listener>
    <filter>
        <filter-name>ShiroFilter</filter-name>
        <filter-class>org.apache.shiro.web.servlet.ShiroFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ShiroFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    <!-- END | SHIRO -->
    <!-- START | PRIMEFACES -->
    <filter>
        <filter-name>PrimeFaces FileUpload Filter</filter-name>
        <filter-class>org.primefaces.webapp.filter.FileUploadFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>PrimeFaces FileUpload Filter</filter-name>
        <servlet-name>Faces Servlet</servlet-name>
    </filter-mapping>
    <!-- END | PRIMEFACES -->
    <!-- START | JSF -->
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.jsf</url-pattern>
    </servlet-mapping>
    <!-- END | JSF -->
    <!-- START | TIMEOUT -->
    <session-config>
        <session-timeout>180</session-timeout>
    </session-config>
    <!-- END | TIMEOUT -->
    <!-- START | LANDING PAGE -->
    <welcome-file-list>
        <welcome-file>login.jsf</welcome-file>
    </welcome-file-list>
    <!-- END | LANDING PAGE -->
    <!-- START | ERROR PAGES -->
    <!-- END | ERROR PAGES -->
</web-app>
